!!! 5
html()
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title QPM tools
    meta(name='description', cossntent='')
    meta(name='viewport', content='width=device-width')
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    link(href='styles/bootstrap.min.css', rel='stylesheet')
    script(src="bower_components/jquery/jquery.min.js")
    //- script(src="bower_components/angular/angular.min.js")
    //- link(href='css/qpm.css', rel='stylesheet')
  body
    .header
      nav.navbar.navbar-default.navbar-static-top
        .container
          a.navbar-brand(href="#") QPM
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Direct build a QPKG
            li.active
              a(href='#') Web interface
            li
              a(href='#') Executable on cli
            li
              a(href='#') Background service
            li
              a(href='#') Advanced
    //- .explanation 將web的目錄直接封裝成zip檔，上傳至QPM App，QPM會檢查目錄中的package.json檔案
    .container()
      .jumbotron
        form(role='form',enctype="multipart/form-data",action="./build.php",method="POST")
          span 上傳web壓縮檔:
          input(name="zip",type="file")
          input(type="submit",value="Build a QPKG for web interface")
      .footer
        p &copy; Company 2013